<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1>Log in</h1>
    <input type="email" placeholder='Email'>
    <input type="password" placeholder='Password'>
    <input type="checkbox">
    <p>Keep me logged</p>
    <a href="">Forgot password?</a>
    <input type="button" value="Log in">
    <p>Don't have on account? <a href="">Register</a></p>
</div>
</body>
</html>