body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(12,10,48,1) 0%, rgba(7,19,54,1) 33%, rgba(47,144,198,1) 100%);
    background-image: url(https://img.freepik.com/free-photo/young-muscular-athlete-practicing-gym-with-weights_155003-35492.jpg?t=st=1669524217~exp=1669524817~hmac=defac1d00ede686ec58c286464186c26b81bac5794d3299792926abbe165aa37);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    width: 600px;
    height: 700px;
    background-color: white;
    opacity: 0.7;
    border-radius: 50px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
